@model List<ProductManagement.Models.DomainModel.ProductModel>

@{
    ViewData["Title"] = "View Products";
    Layout = "_LayoutAdmin";
}
<br />
<h2>@ViewData["Title"]</h2>

<table aria-describedby="mydesc" class="table">

    <thead>
        <tr>
            <th>Product Name</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>
                    <a asp-action="EditProduct" asp-route-id="@product.Id" class="btn btn-info">Edit</a>
                    <a asp-action="DeleteProduct" asp-route-id="@product.Id" class="btn btn-dark">Delete</a>

                    
                </td>

            </tr>
        }
    </tbody>
</table>
